[Unit]
Description=Example .NET Web API App running on Linux
[Service]
WorkingDirectory=/var/www/dscccore
ExecStart=/usr/bin/dotnet /var/www/dscccore/bin/Debug/netcoreapp3.0/API.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet
User=apache
[Install]
WantedBy=multi-user.target

